.table{
    background-color: white;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    margin-top: 5%;
    text-align: center;
}

img{
    width: 108px;
    height: 108px;
}

tbody > tr{
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .table{
        width: auto;
        font-size: 13px;
        padding: 1px;
        width: 96%;
    }
    img{
        width: 50px;
        height: 50px;
    }
}