<div *ngIf="!isBookingEmpty(); else isEmpty" class="bookingsTable">
  <div class="tableTitle">List of your reservations</div>

  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Business Name</th>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
          <th scope="col">E-mail</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let booking of bookings; let i = index">
          <td>
            <b>{{ i + 1 }}</b>
          </td>
          <td>{{ booking.name }}</td>
          <td>{{ booking.date }}</td>
          <td>{{ booking.time }}</td>
          <td>{{ booking.email }}</td>
          <td>
            <img src="../../assets/trash-can-regular.svg" (click)="deleteBooking(booking.name)" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #isEmpty>
  <div class="noReservationMsg">No Reservations to show</div>
</ng-template>