.card {
  width: 55%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

.back-arrow {
  cursor: pointer;
}

.card-body .card-title {
  text-align: center;
}

mat-tab-group {
  margin-top: 3%;
}

span > a > img {
  width: 30px;
  margin-left: 1%;
}

span > img {
  width: 20px;
}

.map-container {
  width: 100%;
}

.carousel-item > img {
  width: 290px;
  height: 380px;
}

#submit-button,
#reserve-button {
  background-color: #dc3545;
  border-color: #dc3545;
}

#submit-button:hover,
#reserve-button:hover {
  background-color: #ae3d41;
  border-color: #ae3d41;
}

.form-control.is-valid,
.was-validated .form-control:valid {
  background-image: none;
  border-color: #ced4da;
}

.form-select.is-valid:not([multiple]):not([size]),
.form-select.is-valid:not([multiple])[size="1"],
.was-validated .form-select:valid:not([multiple]):not([size]),
.was-validated .form-select:valid:not([multiple])[size="1"] {
  background-image: none;
  border-color: #ced4da;
}

#reviews-table tr {
  height: 150px;
}

label {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 2%;
}

@media only screen and (max-width: 768px) {
  .card {
    width: 95%;
  }

  h4 {
    font-weight: normal;
  }
}
