.search-form{
    width:50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    border: 1px solid #e8e9eb;
    background-color: #ffffff;
    padding: 3%;
    border-radius: 15px;
}

.submit button{
    background-color:#cb444b;
    border-color: #cb444b;
}

.submit button:hover{
    background-color:#ae3d41;
    border-color: #ae3d41;
}

.error-msg{
    width: 30%;
    font-size: large;
    color: #ae3d41;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    text-align: center;
    border-radius: 15px;
    background-color: #ffffff;
}

@media only screen and (max-width: 768px) {
    .search-form{
        width: 90%;
        margin-top: 15%;
    }
}